@import "tailwindcss";

/* Optional: Keep the scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #F3F4F6;
  font-family: 'Inter', sans-serif;
}