@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility to hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #F3F4F6; /* Matches the dashboard bg */
}